 *{
	 padding: 0;
	 margin:0;
 }
 body {
	 direction: rtl ;
	 font-family: 'Tajawal', sans-serif;
 } 
 
 header{
	 background-image: url(../images/first.jpeg);
	 background-size: cover;
	 background-position:center center ;
	 text-align: center;
 }
 header .pb-5{
	 color:#4eb918 ;
 }
 
 header .text{
	 margin : 90px auto 90px ;
	 display:inline-block;
	 font-size:22px;
	
	
 }
 
 header .count-down{
	 width: 100%;
	 margin: 0px auto ;
	 padding-bottom: 90px; 
	font-size: 1.8rem;
 }
 header .counter{
	 display: inline-block;
	 margin: 0 15px;
	 
 }
 
 header .count-amount{
	 font-size:99%;
	 display: block;
	 font-weight: bold;
	 color: #6eff00;
 }
 header .count-period{
	 font-size: 88%;
	 display: block;
	 font-weight: bold;
	 color: #fff;
	 
 }
 
 main .title{
	 text-align:center;
	 color:#4eb918;
	 margin-bottom:50px;
	 margin-top:65px;
	
	 
	 
 }
main .icons{
	color:#4eb918;
}
	 

	 
 h4{
	 color:#4eb918;
 }
 main p{
	 font-size:18px ;
 }
 
 main .col-md-4{
	 padding-top:22px;
 }
 
 .img{
	 height: 475px;
	 margin-bottom:30px;
 }
 
 .carousel-caption .d-none .d-md-block{
   font-weight: bold;
   text-align: center;
   padding-bottom: 100px;
}

.card-caption{
   opacity: 90%;
}

.card-color{
   color:#4eb918;
   padding-top: 25px;
   font-weight: bold;
}

 
 
 
 footer{
	background-image: url(../images/first.jpeg);
   background-size: cover;
   background-position: center;
   text-align:center;
   
}

footer .layar{
   background-color: rgba(57,57,57,0.4);
}

footer .footer-notification{
	
	padding:70px auto ;
   
}


footer .footer-notification h3{
	padding-top:25px;
	 font-size:25px;
	 margin-bottom:25px;
	 color:#fff;
}

footer .input-group{
	width:40%;
	margin: auto;
	padding-bottom: 18px
}

footer .input-group input{
	border-radius: 0;
	font-size:18px;
	color:#c7c7c7;
	border-color:#fff;
   height:45px;
	text-align:right;
}




footer .input-group button{
	border-radius: 0;
	background-color: #00a000;
	padding: 13px 33px;
	height:45px;
	border-color: #00a000;
	
}

.icon{
	color:#fff;
    margin-top: -4px;
}


footer .social-media{
   
	padding-bottom:0px;
	padding-top:0px;
	}

footer .social-media h5{
	
	padding-top:15px;
	color:#fff;
}
footer .social-media .list-inline a{
	width:70px;
	height:70px;
	line-height:70px;
	font-size:24px;
	color:#ffffff;
	display:block;
	
}

footer .social-media .list-inline a:hover{
	color: #6eff00;
}


dl, ol, ul {
   margin-top: 0;
   margin-bottom: 0rem;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /******************************************************************
	**************************************************
	MEDIA QUERY
	*************************************************
	**********************************************************************/
	@media (max-width:991px){
	main .icons{
			font-size:60px;
		}
		
		main .features h4{
			font-size:30px;
		}
		
		main .features p{
			font-size:20px;
		}
		main .features .m{
			margin-bottom:20px;
		}
		
		
		
		
	}
	@media (max-width:872px){
		 header .text{
	 margin : 70px auto 70px ;
	 display:inline-block;
	 font-size:19px;
	
	
 }
 
 header .count-down{
	 width: 100%;
	 margin: 0px auto ;
	 padding-bottom: 70px; 
	font-size: 1.5rem;
 }
		
		
	}
 
 
	@media (max-width:767px){
		main .icons{
			font-size:50px;
		}
		
		main .features h4{
			font-size:23px;
		}
		
		main .features p{
			font-size:18px;
		}
		
		
		
		.center{
			margin:auto;
			display:block;
			
		}
		
		.img{
			height:300px;
		}
		
		footer .input-group{
	 width:70%;
		}
		footer .footer-notification h3{
			font-size:20px;
		}
		
	}
	
	
	
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 